<html xmlns:th="http://www.thymeleaf.org" th:enctype="utf-8" th:with="lang=${#locale.language}" th:lang="${lang}"
      th:xmllang="${lang}">
<head>
    <title th:text="#{document.title}"></title>
    <meta name="subject" content="CovidCertificate"/>
    <meta name="author" th:content="#{document.author}"/>
    <link th:href="@{pdf.css}" rel="stylesheet"/>
    <style>
        @page {
            margin: 1cm 1cm;
            size: A4;
        }
    </style>
</head>
<body th:class="${type}">
<table th:id="header" class="two-col-table">
    <tr>
        <td class="first-col"><img th:id="logo-bund" th:src="@{images/bund.png}" alt="government icon"></img></td>
        <td th:unless="${isEvidence}" class="second-col">
            <div>
                <h1 th:text="#{document.title}" th:id="title"></h1>
                <h3 th:text="#{document.title(${'en'})}" th:id="title-en"></h3>
            </div>
        </td>
        <td th:if="${isEvidence}" class="second-col">
            <div>
                <h1 th:text="#{evidence.document.title}" th:id="title"></h1>
                <h3 th:text="#{evidence.document.title(${'en'})}" th:id="title-en"></h3>
            </div>
        </td>
    </tr>
</table>
<table class="two-col-table" th:id="health-data">
    <tr>
        <td th:id="qr-code-section" class="first-col">
            <!-- QR Code does have a different size when generated locally, because of this it looks too far left. On other environments it looks fine -->
            <img th:id="qr-code" th:src="|data:image/png;base64,${qrCode}|" alt="Barcode Zertifikat"/>

            <p th:text="${data.getIdentifier()}" th:class="body-text"></p>
            <div th:unless="${isEvidence}">
                <p th:text="#{qrCode.label(${creationDate}, ${creationTime})}" class="body-text-small"></p>
                <p th:text="#{qrCode.label(${creationDate}, ${creationTime}, ${'en'})}"
                   class="body-text-small-en">
                </p>
            </div>
            <div th:if="${isEvidence}">
                <p th:text="#{evidence.qrCode.label(${creationDate}, ${creationTime})}" class="body-text-small"></p>
                <p th:text="#{evidence.qrCode.label(${creationDate}, ${creationTime}, ${'en'})}"
                   class="body-text-small-en">
                </p>
            </div>
            <p th:text="#{qrCode.date.label}" th:class="body-text-small-en"></p>
        </td>
        <td class="second-col">
            <div th:replace="'fragments/' + ${type} +'/data'"></div>
        </td>
    </tr>
</table>
<table th:id="personal-data">
    <tr class="table-row">
        <th th:id="personal-data-header-row" colspan="2">
            <p th:text="#{personalData.title}" class="heading no-padding"></p>
            <p th:text="#{personalData.title(${'en'})}" class="body-text-en"></p>
        </th>
    </tr>
    <tr class="table-row">
        <td class="table-row-padding">
            <p class="body-text no-padding" th:text="#{personalData.name.label}"></p>
            <p class="body-text-en" th:text="#{personalData.name.label(${'en'})}"></p>
        </td>
        <td>
            <p class="body-text">[[|${data.getFamilyName()} ${data.getGivenName()}|]]</p>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-row-padding">
            <p class="body-text no-padding" th:text="#{personalData.date.label}"></p>
            <p class="body-text-en" th:text="#{personalData.date.label(${'en'})}"></p>
        </td>
        <td class="body-text"
            th:text="${birthdate}"></td>
    </tr>
</table>
<table class="two-col-table" th:id="issuer-chOnlyMessage">
    <tr>
        <td th:unless="${isEvidence}" th:id="issuer-section">
            <div th:id="issuer">
                <p class="body-text no-padding" th:text="#{issuer.title}"></p>
                <p class="body-text-en" th:text="#{issuer.title(${'en'})}"></p>
                <p th:text="#{issuer.issuer}" class="heading no-padding"></p>
                <p th:text="#{issuer.issuer(${'en'})}" class="body-text-en"></p>
            </div>
        </td>
        <td th:if="${isEvidence}" th:id="issuer-section">
            <div th:id="issuer">
                <p class="body-text no-padding" th:text="#{evidence.issuer}"></p>
                <p class="body-text-en" th:text="#{evidence.issuer(${'en'})}"></p>
                <p th:text="#{issuer.issuer}" class="heading no-padding"></p>
                <p th:text="#{issuer.issuer(${'en'})}" class="body-text-en"></p>
            </div>
        </td>
        <td th:id="chOnlyMessage-section">
            <div th:if="${showValidOnlyInSwitzerland}" class="ch-only-section">
                <p class="body-text no-padding red-bold" th:text="#{antibody.validInSwitzerlandOnly}"></p>
                <p class="body-text-en red" th:text="#{antibody.validInSwitzerlandOnly(${'en'})}"></p>
            </div>
        </td>
    </tr>
</table>

<div th:id="disclaimer">
    <div th:replace="'fragments/' + ${type} +'/disclaimer'"></div>
</div>
<table th:id="app-info">
    <tr>
        <td th:unless="${isEvidence}">
            <p th:text="#{footer.app}" class="body-text no-padding"></p>
            <p th:text="#{footer.app(${'en'})}" class="body-text-en"></p>
        </td>
        <td th:if="${isEvidence}">
            <p th:text="#{footer.evidence.app}" class="body-text no-padding"></p>
            <p th:text="#{footer.evidence.app(${'en'})}" class="body-text-en"></p>
        </td>
        <td rowspan="2" class="table-center">
            <img th:src="@{images/appicon.png}" alt="covid certificate app icon" width="48"></img>
            <p class="body-text-small no-padding">Covid Certificate</p>
        </td>
        <td class="table-center" style="display: block">
            <img th:src="@{images/appstore.png}" alt="app store icon" height="24"></img>
        </td>
    </tr>
    <tr>
        <td th:text="#{footer.infoline}" class="heading"></td>
        <td class="table-center" style="display: block">
            <img th:src="@{images/googleplay.png}" alt="google play icon" height="24"></img>
        </td>
    </tr>
</table>
<div th:if="${showWatermark}" th:id="watermark">DRAFT</div>
</body>
</html>