<html xmlns:th="http://www.thymeleaf.org" th:enctype="utf-8" th:with="lang=${#locale.language}" th:lang="${lang}"
      th:xmllang="${lang}">
<head>
    <title th:text="#{document.title}"></title>
    <meta name="subject" content="CovidCertificate"/>
    <meta name="author" th:content="#{document.author}"/>
    <link th:href="@{pdf.css}" rel="stylesheet"/>
    <style>
        @page {
            margin: 1cm 1cm;
            size: A4;
        }
    </style>
</head>
<body th:class="${type}">
<table th:id="header" class="two-col-table">
    <tr>
        <td class="first-col"><img th:id="logo-bund" th:src="bund.png" alt="government icon"></img></td>
        <td th:unless="${isEvidence}" class="second-col">
            <div>
                <h1 th:text="#{document.title}" th:id="title"></h1>
                <h3 th:text="#{document.title(${'en'})}" th:id="title-en"></h3>
            </div>
        </td>
        <td th:if="${isEvidence}" class="second-col">
            <div>
                <h1 th:text="#{evidence.document.title}" th:id="title"></h1>
                <h3 th:text="#{evidence.document.title(${'en'})}" th:id="title-en"></h3>
            </div>
        </td>
    </tr>
</table>
<table class="two-col-table" th:id="health-data">
    <tr>
        <td th:id="qr-code-section" class="first-col">
            <!-- QR Code does have a different size when generated locally, because of this it looks too far left. On other environments it looks fine -->
            <img th:id="qr-code" th:src="|data:image/png;base64,${qrCode}|" alt="Barcode Zertifikat"/>

            <p th:text="${data.getIdentifier()}" th:class="body-text"></p>
            <div th:unless="${isEvidence}">
                <p th:text="#{qrCode.label(${creationDate}, ${creationTime})}" class="body-text-small"></p>
                <p th:text="#{qrCode.label(${creationDate}, ${creationTime}, ${'en'})}"
                   class="body-text-small-en">
                </p>
            </div>
            <div th:if="${isEvidence}">
                <p th:text="#{evidence.qrCode.label(${creationDate}, ${creationTime})}" class="body-text-small"></p>
                <p th:text="#{evidence.qrCode.label(${creationDate}, ${creationTime}, ${'en'})}"
                   class="body-text-small-en">
                </p>
            </div>
            <p th:text="#{qrCode.date.label}" th:class="body-text-small-en"></p>
        </td>
        <td th:switch="${type}" class="second-col">
            <table th:case="'vaccination'" class="two-col-table">
                <tr class="table-row" colspan="2">
                    <th th:id="health-data-header-row" th:unless="${isEvidence}">
                        <p th:text="#{vaccination.title}" class="heading no-padding"></p>
                        <p th:text="#{vaccination.title(${'en'})}" th:class="body-text-en"></p>
                    </th>
                    <th th:id="health-data-header-row" th:if="${isEvidence}">
                        <p th:text="#{evidence.title}" class="heading no-padding"></p>
                        <p th:text="#{evidence.title(${'en'})}" th:class="body-text-en"></p>
                    </th>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.disease.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{vaccination.disease}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.dosis.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.dosis.label(${'en'})}"></p>
                    </td>
                    <td>
                        <span class="body-text"
                              th:text="${data.getNumberOfDoses()}"></span>
                        /
                        <span class="body-text"
                              th:text="${data.getTotalNumberOfDoses()}"></span>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.type.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.type.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getVaccineProphylaxis()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.product.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.product.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getMedicinalProduct()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.manufacturer.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.manufacturer.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getMarketingAuthorizationHolder()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.date.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.date.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getVaccinationDate().format(dateFormatter)}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.country.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.country.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getCountryOfVaccination()}"></p>
                        <p class="body-text-en" th:text="${data.getCountryOfVaccinationEn()}"></p>
                    </td>
                </tr>
            </table>
            <table th:case="'vaccination-tourist'" class="two-col-table">
                <tr class="table-row" colspan="2">
                    <th th:id="health-data-header-row" th:unless="${isEvidence}">
                        <p th:text="#{vaccination.title}" class="heading no-padding"></p>
                        <p th:text="#{vaccination.title(${'en'})}" th:class="body-text-en"></p>
                    </th>
                    <th th:id="health-data-header-row" th:if="${isEvidence}">
                        <p th:text="#{evidence.title}" class="heading no-padding"></p>
                        <p th:text="#{evidence.title(${'en'})}" th:class="body-text-en"></p>
                    </th>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.disease.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{vaccination.disease}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.dosis.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.dosis.label(${'en'})}"></p>
                    </td>
                    <td>
                        <span class="body-text"
                              th:text="${data.getNumberOfDoses()}"></span>
                        /
                        <span class="body-text"
                              th:text="${data.getTotalNumberOfDoses()}"></span>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.type.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.type.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getVaccineProphylaxis()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.product.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.product.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getMedicinalProduct()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.manufacturer.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.manufacturer.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getMarketingAuthorizationHolder()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.date.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.date.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getVaccinationDate().format(dateFormatter)}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.country.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.country.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getCountryOfVaccination()}"></p>
                        <p class="body-text-en" th:text="${data.getCountryOfVaccinationEn()}"></p>
                    </td>
                </tr>
            </table>
            <table th:case="'recovery'" class="two-col-table">
                <tr class="table-row" colspan="2">
                    <th th:id="health-data-header-row">
                        <p th:text="#{recovery.title}" class="heading no-padding"></p>
                        <p th:text="#{recovery.title(${'en'})}" class="body-text-en"></p>
                    </th>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.disease.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{vaccination.disease}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{recovery.firstPositiveTestResult.label}"></p>
                        <p class="body-text-en" th:text="#{recovery.firstPositiveTestResult.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getDateOfFirstPositiveTestResult().format(dateFormatter)}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{recovery.validFrom}"></p>
                        <p class="body-text-en" th:text="#{recovery.validFrom(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getValidFrom().format(dateFormatter)}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{recovery.validUntil}"></p>
                        <p class="body-text-en" th:text="#{recovery.validUntil(${'en'})}"></p>
                    </td>
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:utext="#{recovery.countrySpecific}"></p>
                        <p class="body-text-en" th:utext="#{recovery.countrySpecific(${'en'})}"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{recovery.countryOfTest.label}"></p>
                        <p class="body-text-en" th:text="#{recovery.countryOfTest.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getCountryOfTest()}"></p>
                        <p class="body-text-en" th:text="${data.getCountryOfTestEn()}"></p>
                    </td>
                </tr>
            </table>
            <table th:case="'recovery-rat'" class="two-col-table">
                <tr class="table-row">
                    <th th:id="health-data-header-row" colspan="2">
                        <p th:text="#{recovery-rat.title}" class="heading no-padding"></p>
                        <p th:text="#{recovery-rat.title(${'en'})}" th:class="body-text-en"></p>
                    </th>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.disease.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{vaccination.disease}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.type.label}"></p>
                        <p class="body-text-en" th:text="#{test.type.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTypeOfTest()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.nameAndManufacturer.label}"></p>
                        <p class="body-text-en" th:text="#{test.nameAndManufacturer.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTestNameAndManufacturer()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{recovery.firstPositiveTestResult.label}"></p>
                        <p class="body-text-en" th:text="#{recovery.firstPositiveTestResult.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getSampleDateTime().format(dateTimeFormatter)}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.conducted.label}"></p>
                        <p class="body-text-en" th:text="#{test.conducted.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTestingCentreOrFacility()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.country.label}"></p>
                        <p class="body-text-en" th:text="#{test.country.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getMemberStateOfTest()}"></p>
                        <p class="body-text-en" th:text="${data.getMemberStateOfTestEn()}"></p>
                    </td>
                </tr>
            </table>
            <table th:case="'test'" class="two-col-table">
                <tr class="table-row" colspan="2">
                    <th th:id="health-data-header-row">
                        <p th:text="#{test.title}" class="heading no-padding"></p>
                        <p th:text="#{test.title(${'en'})}" th:class="body-text-en"></p>
                    </th>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{vaccination.disease.label}"></p>
                        <p class="body-text-en" th:text="#{vaccination.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{vaccination.disease}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.result.label}"></p>
                        <p class="body-text-en" th:text="#{test.result.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="#{test.result.value}"></p>
                        <p class="body-text-en" th:text="#{test.result.value(${'en'})}"></p>
                    </td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.type.label}"></p>
                        <p class="body-text-en" th:text="#{test.type.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTypeOfTest()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.nameAndManufacturer.label}"></p>
                        <p class="body-text-en" th:text="#{test.nameAndManufacturer.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTestNameAndManufacturer()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.date.label}"></p>
                        <p class="body-text-en" th:text="#{test.date.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getSampleDateTime().format(dateTimeFormatter)}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.conducted.label}"></p>
                        <p class="body-text-en" th:text="#{test.conducted.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTestingCentreOrFacility()}"></td>
                </tr>
                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.country.label}"></p>
                        <p class="body-text-en" th:text="#{test.country.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getMemberStateOfTest()}"></p>
                        <p class="body-text-en" th:text="${data.getMemberStateOfTestEn()}"></p>
                    </td>
                </tr>
            </table>
            <table th:case="'antibody'" class="two-col-table">
                <tr class="table-row" colspan="2">
                    <th th:id="health-data-header-row">
                        <p th:text="#{antibody.title}" class="heading no-padding"></p>
                        <p th:text="#{antibody.title(${'en'})}" class="body-text-en"></p>
                    </th>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{antibody.disease.label}"></p>
                        <p class="body-text-en" th:text="#{antibody.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{antibody.disease}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{antibody.date.label}"></p>
                        <p class="body-text-en" th:text="#{antibody.date.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getSampleDate().format(dateFormatter)}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{antibody.finding.label}"></p>
                        <p class="body-text-en" th:text="#{antibody.finding.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{antibody.finding.value}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{antibody.type.label}"></p>
                        <p class="body-text-en" th:text="#{antibody.type.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="#{antibody.type.value}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{test.conducted.label}"></p>
                        <p class="body-text-en" th:text="#{test.conducted.label(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getTestingCentreOrFacility()}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{antibody.countryOfTest.label}"></p>
                        <p class="body-text-en" th:text="#{antibody.countryOfTest.label(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getCountryOfTest()}"></p>
                        <p class="body-text-en" th:text="${data.getCountryOfTestEn()}"></p>
                    </td>
                </tr>
            </table>
            <table th:case="'exceptional'" class="two-col-table">
                <tr class="table-row" colspan="2">
                    <th th:id="health-data-header-row">
                        <p th:text="#{exceptional.title}" class="heading no-padding"></p>
                        <p th:text="#{exceptional.title(${'en'})}" class="body-text-en"></p>
                    </th>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{antibody.disease.label}"></p>
                        <p class="body-text-en" th:text="#{antibody.disease.label(${'en'})}"></p>
                    </td>
                    <td class="body-text" th:text="#{antibody.disease}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{exceptional.validFrom}"></p>
                        <p class="body-text-en" th:text="#{exceptional.validFrom(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getValidFrom().format(dateFormatter)}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{exceptional.attestationIssuer}"></p>
                        <p class="body-text-en" th:text="#{exceptional.attestationIssuer(${'en'})}"></p>
                    </td>
                    <td class="body-text"
                        th:text="${data.getAttestationIssuer()}"></td>
                </tr>

                <tr class="table-row">
                    <td class="table-row-padding">
                        <p class="body-text no-padding" th:text="#{exceptional.country}"></p>
                        <p class="body-text-en" th:text="#{exceptional.country(${'en'})}"></p>
                    </td>
                    <td>
                        <p class="body-text no-padding" th:text="${data.getCountry()}"></p>
                        <p class="body-text-en" th:text="${data.getCountryEn()}"></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table th:id="personal-data">
    <tr class="table-row">
        <th th:id="personal-data-header-row" colspan="2">
            <p th:text="#{personalData.title}" class="heading no-padding"></p>
            <p th:text="#{personalData.title(${'en'})}" class="body-text-en"></p>
        </th>
    </tr>
    <tr class="table-row">
        <td class="table-row-padding">
            <p class="body-text no-padding" th:text="#{personalData.name.label}"></p>
            <p class="body-text-en" th:text="#{personalData.name.label(${'en'})}"></p>
        </td>
        <td>
            <p class="body-text">[[|${data.getFamilyName()} ${data.getGivenName()}|]]</p>
        </td>
    </tr>
    <tr class="table-row">
        <td class="table-row-padding">
            <p class="body-text no-padding" th:text="#{personalData.date.label}"></p>
            <p class="body-text-en" th:text="#{personalData.date.label(${'en'})}"></p>
        </td>
        <td class="body-text"
            th:text="${birthdate}"></td>
    </tr>
</table>
<table class="two-col-table" th:id="issuer-chOnlyMessage">
    <tr>
        <td th:unless="${isEvidence}" th:id="issuer-section">
            <div th:id="issuer">
                <p class="body-text no-padding" th:text="#{issuer.title}"></p>
                <p class="body-text-en" th:text="#{issuer.title(${'en'})}"></p>
                <p th:text="#{issuer.issuer}" class="heading no-padding"></p>
                <p th:text="#{issuer.issuer(${'en'})}" class="body-text-en"></p>
            </div>
        </td>
        <td th:if="${isEvidence}" th:id="issuer-section">
            <div th:id="issuer">
                <p class="body-text no-padding" th:text="#{evidence.issuer}"></p>
                <p class="body-text-en" th:text="#{evidence.issuer(${'en'})}"></p>
                <p th:text="#{issuer.issuer}" class="heading no-padding"></p>
                <p th:text="#{issuer.issuer(${'en'})}" class="body-text-en"></p>
            </div>
        </td>
        <td th:id="chOnlyMessage-section">
            <div th:if="${showValidOnlyInSwitzerland}" class="ch-only-section">
                <p class="body-text no-padding red-bold" th:text="#{antibody.validInSwitzerlandOnly}"></p>
                <p class="body-text-en red" th:text="#{antibody.validInSwitzerlandOnly(${'en'})}"></p>
            </div>
        </td>
    </tr>
</table>

<div th:id="disclaimer" th:switch="${type}">
    <th:block th:case="'vaccine'">
        <p th:unless="${isEvidence}" class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p th:unless="${isEvidence}" class="body-text-small">
            <span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.getInformationBeforeTravel}"></span>
            <span th:text="#{info.keepPaperDocument}"></span></p>
        <p th:if="${isEvidence}" class="body-text-small" th:text="#{evidence.info}"></p>
        <p th:unless="${isEvidence}"></p><!-- Keep this to separate the languages -->
        <p th:unless="${isEvidence}" class="body-text-small-en"
           th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p th:unless="${isEvidence}" class="body-text-small-en">
            <span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.getInformationBeforeTravel(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span></p>
        <p th:if="${isEvidence}" class="body-text-small-en" th:text="#{evidence.info(${'en'})}"></p>
    </th:block>

    <th:block th:case="'vaccination-tourist'">
        <p class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p class="body-text-small"><span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.limitedTimeValidity}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp}"></span>
            <span th:text="#{info.keepPaperDocument}"></span>
        </p>
        <p></p><!-- Keep this to separate the languages -->
        <p class="body-text-small-en" th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p class="body-text-small-en"><span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.limitedTimeValidity(${'en'})}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span>
        </p>
    </th:block>

    <th:block th:case="'recovery'">
        <p class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p class="body-text-small"><span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.getInformationBeforeTravel}"></span>
            <span th:text="#{info.keepPaperDocument}"></span></p>
        <p class="body-text-small" th:utext="#{recovery.info}"></p>
        <p></p><!-- Keep this to separate the languages -->
        <p class="body-text-small-en" th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p class="body-text-small-en"><span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.getInformationBeforeTravel(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span></p>
        <p class="body-text-small-en" th:utext="#{recovery.info(${'en'})}"></p>
    </th:block>

    <th:block th:case="'recovery-rat'">
        <p class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p class="body-text-small"><span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.limitedTimeValidity}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp}"></span>
            <span th:text="#{info.keepPaperDocument}"></span>
        </p>
        <p></p><!-- Keep this to separate the languages -->
        <p class="body-text-small-en" th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p class="body-text-small-en"><span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.limitedTimeValidity(${'en'})}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span>
        </p>
    </th:block>

    <th:block th:case="'test'">
        <p class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p class="body-text-small"><span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.getInformationBeforeTravel}"></span>
            <span th:text="#{info.keepPaperDocument}"></span></p>
        <p></p><!-- Keep this to separate the languages -->
        <p class="body-text-small-en" th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p class="body-text-small-en"><span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.getInformationBeforeTravel(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span></p>
    </th:block>

    <th:block th:case="'antibody'">
        <p class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p class="body-text-small"><span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.limitedTimeValidity}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp}"></span>
            <span th:text="#{info.keepPaperDocument}"></span>
        </p>
        <p></p><!-- Keep this to separate the languages -->
        <p class="body-text-small-en" th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p class="body-text-small-en"><span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.limitedTimeValidity(${'en'})}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span>
        </p>
    </th:block>

    <th:block th:case="'exceptional'">
        <p class="body-text-small" th:text="#{info.validOnlyOnIdPresentation}"></p>
        <p class="body-text-small">
            <span th:text="#{info.notTravelDocument}"></span>
            <span th:text="#{info.limitedTimeValidity}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp}"></span>
            <span th:text="#{info.faceMaskMayBeRequired}"></span>
            <span th:text="#{info.keepPaperDocument}"></span></p>
        <p></p><!-- Keep this to separate the languages -->
        <p class="body-text-small-en" th:text="#{info.validOnlyOnIdPresentation(${'en'})}"></p>
        <p class="body-text-small-en">
            <span th:text="#{info.notTravelDocument(${'en'})}"></span>
            <span th:text="#{info.limitedTimeValidity(${'en'})}"></span>
            <span th:text="#{info.verifyAgainstSwissValidationRulesWithApp(${'en'})}"></span>
            <span th:text="#{info.faceMaskMayBeRequired(${'en'})}"></span>
            <span th:text="#{info.keepPaperDocument(${'en'})}"></span></p>
    </th:block>
</div>
<table th:id="app-info">
    <tr>
        <td th:unless="${isEvidence}">
            <p th:text="#{footer.app}" class="body-text no-padding"></p>
            <p th:text="#{footer.app(${'en'})}" class="body-text-en"></p>
        </td>
        <td th:if="${isEvidence}">
            <p th:text="#{footer.evidence.app}" class="body-text no-padding"></p>
            <p th:text="#{footer.evidence.app(${'en'})}" class="body-text-en"></p>
        </td>
        <td rowspan="2" class="table-center">
            <img th:src="appicon.png" alt="covid certificate app icon" width="48"></img>
            <p class="body-text-small no-padding">Covid Certificate</p>
        </td>
        <td class="table-center" style="display: block">
            <img th:src="appstore.png" alt="app store icon" height="24"></img>
        </td>
    </tr>
    <tr>
        <td th:text="#{footer.infoline}" class="heading"></td>
        <td class="table-center" style="display: block">
            <img th:src="googleplay.png" alt="google play icon" height="24"></img>
        </td>
    </tr>
</table>
<div th:if="${showWatermark}" th:id="watermark">DRAFT</div>
</body>
</html>